body {
    color: #53424C;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
    text-align: center;
}

.accessiblespace {
    display: none;
}


h1 {
    text-align: center;
    margin-bottom: 0;
}

h2 {
    font-size: 1em;
    margin-top: 0;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 2em;
}

a {
    color: #3366CC;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#source-gif {
    display: none;
}


.gif-drop {
    margin: 3em auto;
    text-align: center;
    padding: 12px;
    min-height: 160px;
    max-height: 80%;
    display: inline-block;
    min-width: 400px;
    width: auto;
    border: 3px dashed rgba(199,125,135,0.7);
    background-color: #F6F3DD;
    border-radius: 16px;
}

.gif-drop-icon {
    display: block;
    font-size: 64px;
    opacity: 0.4;
    line-height: 1.4;
    padding: 10px 0;
    min-height: 80px;
}

.gif-drop.drag .gif-drop-icon {
    opacity: 1;
}

.gif {
    display: none;
}

.gif.finished {
    display: block;
    margin: 0 auto;
}

#convert-progress {
    display: none;
    margin: 5px auto;
}

.gif-drop-text {
    line-height: 2;
    padding-bottom: 12px;
    font-weight: bold;
}

#send-to-imgur {
    border: 3px solid #444442;
    background-color: white;
    height: 40px;
    cursor: pointer;
    width: 225px;
    font-size: 20px;
    line-height: 28px;
    display: block;
    visibility: hidden;
    margin: 0 auto;
    border-radius: 5px;
}

#send-to-imgur .send-arrow {
    position: relative;
    display: inline-block;
}

#send-to-imgur.sending .send-arrow {
    -webkit-animation: bounce 1s ease infinite;
    -moz-animation: bounce 1s ease infinite;
    -ms-animation: bounce 1s ease infinite;
    animation: bounce 1s ease infinite;
}

.imgur-logo {
    width: 60px;
    height: 40px;
    background-image: url(../images/imgur_logo.svg);
    text-indent: -9999px;
    display: inline-block;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 0 5px;
}


.gif-drop-icon.spin {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    -o-transition: rotate(3600deg);    
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}

@-moz-keyframes bounce {
    50% { -moz-transform: translate(5px, 0px); }
}
@-webkit-keyframes bounce {
    50% { -webkit-transform: translate(5px, 0px); }
}

@keyframes bounce {
    50% { transform: translate(5px, 0px); }
}
